.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.66666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666666%;
}
.col-12 {
  width: 100%;
}

.dropdown .menu {
  animation: slide-down .15s ease 1;
  display: none;
  left: 0;
  max-height: 50vh;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #dddddd;
  user-select: none;
}
.dropdown.dropdown-right .menu {
  left: auto;
  right: 0;
}
.dropdown.active .menu,
.dropdown .dropdown-toggle:focus + .menu,
.dropdown .menu:hover {
  display: block;
}
.dropdown .btn-group .dropdown-toggle:nth-last-child(2) {
  border-bottom-right-radius: .1rem;
  border-top-right-radius: .1rem;
}

.btn-tablet, .mdi-entry, .msg, .btn-go, #toolpath {
  border: 0.05rem solid #5755d9;
  border-radius: 0.4rem;
}

#main_ui {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#tablettab {
  font-size: 3.2rem;
}
